h1.welcome_text{
  font-family: 'Share Tech Mono', monospace;
  color: #00ff66;
}

ul.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav_bar{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

div.picture_quote{
  display: flex;
}

p.quote{
  font-size: 16pt;
  font-family: 'Share Tech Mono', monospace;
  color: #00ff66;
}

img.index_pic{
  float: right;
  width: 30%;
  height: 30%;
}
