p{
  padding-left: 20px;
  padding-left: 20px;
  font-family: 'Share Tech Mono', monospace;
  color: #00ff66;
  font-size: 16pt;
}

ul.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

h1{
  padding-left: 20px;
  font-family: 'Share Tech Mono', monospace;
  color: #00ff66;
}

ul.projects{
  list-style-type: square;
  font-family: 'Share Tech Mono', monospace;
  color: #00ff66;
}

li.projects{
  display: block;
}

li.nav_bar {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
